/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width:100%
}

body {
    background-color: #ddd;
}
  
/* Style the links inside the navigation bar */
.topnav div {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
/* .topnav a:hover {
    background-color: #ddd;
    color: black;
} */
  
/* Add a color to the active/current link */
.topnav div.active {
    background-color: #04AA6D;
    color: white;
}

.selfintro {
    font-size: 15px;
    margin: 0.5% 30%;
    padding: 1%;
    border: 2px solid darkblue;
    background-color: #cdfffd;
    border-radius: 6px;
}

.selfintro:hover {
    background-color: #a6fffc;
}

.contacts {
    margin: 0.5% 30%;
    padding: 1% 0;
    border: 1px solid darkblue;
    background-color: whitesmoke;
    border-radius: 6px;
    text-align: center;
    align-content: center;
}

.gmail a{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    padding: 10px 36px;
    background-color: rgb(168, 0, 0);
    display: inline-flex;
}

.gmail a:hover{
    background-color: rgb(240, 0, 0);
}

.linkedin a {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    padding: 10px 28px;
    background-color: rgb(0, 59, 168);
    display: inline-flex;
}

.linkedin a:hover {
    background-color: rgb(0, 125, 228);
}

.github a{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    padding: 10px 34px;
    background-color: rgb(92, 0, 168);
    display: inline-flex;
}

.github a:hover {
    background-color: rgb(185, 0, 231);
}

.feature {
    text-align: center;
    font-size: 18px;
    margin: 1%;
}

.repos {
    margin: 0 30%;
}

.repo {
    margin: 10px 0 20px 0;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 6px;
    background-color: aliceblue;
    margin: 0 0 20px 0;
}

.repo:hover {
    background-color: rgb(202, 202, 202);
}

.projectname {
    font-size:1.5rem;
}